.tableLine {
    border-bottom: 1px solid #eee;
    margin-bottom: 14px;
    margin-top: -1px;
}

.inputText {
    width: 75%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.dalei {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
}


.mistat-pagination a {
    text-decoration: none;
    cursor: pointer;
}

.pageButton {
	font-size: 12px;
	padding: 4px 10px!important;
	border-style: solid;
	border-width: 1px;
	border-color: #e7e7e7;
	border-right: none;
	display: inline-block;
	line-height: 16px;
	background: #fff;
	color: #333;
}

.pageNum {
	background: #ff4a00!important;
	color: #fff!important;
	cursor: default!important;
	border: 1px solid #ff4a00;
	padding-right: 9px!important;
}

.optIcon {
	cursor: pointer;
}