<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory> 
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="myeclipse.connection.profile">RemoteSQL</property>
		<property name="connection.url">
			jdbc:mysql://42.121.57.16:3306/appmanager?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">orange26</property>
	
		<property name="hibernate.cglib.use_reflection_optimizer">
			true
		</property>
		<property name="hibernate.connection.provider_class">
			org.hibernate.connection.C3P0ConnectionProvider
		</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">500</property>
		<property name="hibernate.c3p0.idle_test_period">300</property>
		<property name="hibernate.c3p0.acquire_increment">3</property>
		<property name="hibernate.c3p0.validate">false</property>
	
		<property name="current_session_context_class">thread</property>
		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>
	
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="cache.provider_class">
			org.hibernate.cache.EhCacheProvider
		</property>
	
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		
		<property name="formatsql">true</property>
	
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		
		<property name="connection.autocommit">true</property>
	
		<!-- models -->
		<mapping class="com.app.model.User" />
		<mapping class="com.app.model.Node" />

    </session-factory>

</hibernate-configuration>

